body{
    font-family: 'EB Garamond', serif;
    font-size:1.5rem;
    color:white;
    background-color:black;
    margin:0;padding:0;
}

.live{
    margin-bottom: 30px;
}
.completedMenu{
    margin-bottom:30px;
}
.completed {
    display: none;
flex-direction: column;
color:black;
}

.completed .match{
    margin-right: 5px;
flex-wrap: wrap;
background-color:#abcdef;
width:100%;
}

.upcoming {
    display:none;
    flex-wrap: wrap;
    color:black;
}

.upcoming .upcomingMatchName{
margin:5px;
background-color:#abcdef;
width:60%;
}

.menu1:hover{
color:red;
transition:0.3s ease-in-out;
}

.menu2:hover{
    color:red;
    transition:0.3s ease-in-out;
}

.menu1:active{
    color:black;
}

.menu2:active{
    color:black;
}

.pointsTblmenu{
    margin-top:35px;
}

.menu3:hover{
    color:red;
    transition:0.3s ease-in-out;
}

.menu3:active{
    color:black;
}

table{
    margin-top:20px;
    width:100%;
    font-size:1.4rem;
}

.img{
    width:75px;
    border-radius: 50%;
}


td,th{
    text-align:left;
}

footer{
margin-top:60px;
margin-bottom:0;
background-color:white;
color:black;
}


.icons i{
    margin:30px;
}

.icons i:hover{
    color:black;
    transition:0.6s ease-in-out;
}